{%extends "base.html"%}
{%block content%}
<div class='indexpage'>
<h1 class="aod">Arena Online</h1>
<form action="register" id="registerform" method="POST">
    <h1>What is your name Warrior?</h1>
    <input type="text" id="username" name="username"> 
    <h1>Password</h1>
    <input type="text" id="password" name="password"> 
    <button id="enterbutton" value="submit">ENTER</button>
</form>
<img src="{{ url_for('static', filename='assets/arena.png') }}" id="signinpic">
</div>
{%endblock content%}